/* THESE ARE THE MAIN FONTS FOR THE PROJECT */
/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */

/* * {
  border: blue dotted;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ========== START NAV STYLES ========== */

.navbar {
  margin-bottom: 0;
}

.navbar-custom-css {
  background: white;
  border-radius: 20;
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
  border-style: none;
  padding-top: 0;
  padding-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}

.navigation-clean-button {
  /* background: #222222; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: white; */
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-button .navbar-brand:hover {
  color: rgb(255, 179, 0);
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.nav-container-custom-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline !important;
}

/* TODO: use clamp to make brand text responsive */
.navbar-brand {
  font-size: inherit;
}

#container-for-nav-links {
  color: rgb(230, 230, 230);
  align-items: baseline;
}

.nav-link-custom-css {
  color: rgba(224, 217, 217, 0.9);
}

.login-signup-nav-links {
  text-align: right;

}

.actions .navigation-clean-button {
  margin-top: 7px;
  margin-bottom: 0;
}

.navigation-clean-button .actions .login {
  margin-right: 7px;
  text-decoration: none;
}

.register, .login {
  text-decoration: none;
  color: white;
}

.register:hover {
  color: white;
}

.login:hover {
  color: black;
}

.nav-login-custom-css {
  color: rgba(224, 217, 217, 0.9);
}

/* ========== END NAV STYLES ========== */

/* ========== START BUTTON STYLES ========== */

.btn {
  font-family: 'Comfortaa', cursive;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.btn-moving-gradient {
  height: auto;
  width: auto;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
}

.btn-moving-gradient:hover {
  transition: all 0.5s ease-in-out 0s;
  background-position: 100% 0px;
}

.btn-moving-gradient--orange {
  background-image: linear-gradient(90deg, rgb(255, 179, 0), rgb(255, 191, 0), rgb(255, 170, 0), rgb(251, 176, 59));
}

.btn-moving-gradient--black {
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(19, 19, 19), rgb(235, 235, 235), rgb(255, 255, 255));
}

.new-msg-btn {
  display: flex;
  font-size: inherit;
}

/* ========== END BUTTON STYLES ========== */

/* ========== START HERO STYLES ========== */

/* TODO: add responsiveness to hero image */
.hero-container-custom-css {
  background-image: url('./assets/daniel-k-cheung-B7N0IjiIJYo-unsplash.jpg');
  background-size: cover;
  background-position: bottom;
  /* height: max-content; */
  min-height: 50vh;
  flex-basis: content;
}

.hero-text-styles {
  font-family: 'Montserrat', sans-serif;
}

.hero-items-styles {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ========== END HERO STYLES ========== */

/* ========== START LOGIN PAGE STYLES ========== */

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-dark);
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-dark);
}

/* ========== END LOGIN PAGE STYLES ========== */

/* ========== START MESSAGES PAGE STYLES ========== */
.msgs-div {
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.msg-pg-title {
  font-family: 'Montserrat', sans-serif;

}

.containerForTitle {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: sticky; */
  top: 0;
}

.messageListContainer {
  padding: 10px 10px;
}

.timestamp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.messageBubbleContainer {
  display: flex;
}

.mine {
  justify-content: flex-end;
  background: #0e7c7b;
  color: rgb(255, 247, 247);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: .5em;
  margin-left: 3em;
  margin-bottom: 1em;
}

.theirs {
  justify-content: flex-start;
  background: #ededed;
  color: #000000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: .5em;
  margin-right: 3em;
  margin-bottom: 1em;
}

.writeMessage {
  display: flex;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  /* height: 5em; */
}

.compose-input {
  flex: 1 1;
  height: 3em;
}

.active {
  background-color: #0e7c7b !important;
  border-color: #0e7c7b !important;
}

/* ========== END MESSAGES PAGE STYLES ========== */

/* ========== START FOOTER STYLES ========== */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-text-styles {
  font-family: 'Comfortaa', cursive;
}

/* ========== END FOOTER STYLES ========== */
