/* THESE ARE THE MAIN FONTS FOR THE PROJECT */
/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */

/* * {
  border: blue dotted;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ========== START NAV STYLES ========== */

.navbar {
  margin-bottom: 0;
}

.navbar-custom-css {
  background: white;
  border-radius: 20;
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
  border-style: none;
  padding-top: 0;
  padding-bottom: 10px;
  font-family: 'Comfortaa', cursive;
}

.navigation-clean-button {
  /* background: #222222; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* color: white; */
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-button .navbar-brand:hover {
  color: rgb(255, 179, 0);
}

.navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.nav-container-custom-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline !important;
}

.navbar-brand {
  font-size: inherit;
}

.container-for-nav-links {
  color: rgb(230, 230, 230);
  align-items: baseline;
  font-size: clamp(.9rem, 1.6vw, 1rem);
}

.nav-link-custom-css {
  color: rgba(224, 217, 217, 0.9);
}

.login-signup-nav-links {
  text-align: right;

}

.actions .navigation-clean-button {
  margin-top: 7px;
  margin-bottom: 0;
}

.navigation-clean-button .actions .login {
  margin-right: 7px;
  text-decoration: none;
}

.register,
.login {
  text-decoration: none;
  color: white;
}

.register:hover {
  color: white;
}

.login:hover {
  color: black;
}

.nav-login-custom-css {
  color: rgba(224, 217, 217, 0.9);
}

.navMenu {
  text-align: right;
}

.navbar-nav {
  justify-content: flex-end;
}

/* #navbarNav {
  display: flex;
  justify-content: flex-end;
} */

/* ========== END NAV STYLES ========== */

/* ========== START BUTTON STYLES ========== */

.btn {
  font-family: 'Comfortaa', cursive;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.btn-moving-gradient {
  height: auto;
  width: auto;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
}

.btn-moving-gradient:hover {
  transition: all 0.5s ease-in-out 0s;
  background-position: 100% 0px;
}

.btn-moving-gradient--orange {
  background-image: linear-gradient(90deg, rgb(255, 179, 0), rgb(255, 191, 0), rgb(255, 170, 0), rgb(251, 176, 59));
}

.btn-moving-gradient--black {
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(19, 19, 19), rgb(235, 235, 235), rgb(255, 255, 255));
}

.new-msg-btn {
  display: flex;
  font-size: inherit;
}

.delete-msg-btn {
  height: 2.5rem!important;
}

/* ========== END BUTTON STYLES ========== */

/* ========== START HERO STYLES ========== */

/* TODO: add responsiveness to hero image */
.hero-container-custom-css {
  background-image: url('./assets/daniel-k-cheung-B7N0IjiIJYo-unsplash-min.jpg');
  background-size: cover;
  background-position: bottom;
  /* height: max-content; */
  min-height: 50vh;
  flex-basis: content;
}

.hero-text-styles {
  font-family: 'Montserrat', sans-serif;
}

.hero-items-styles {
  background-color: rgba(255, 255, 255, 0.4);
}

/* ========== END HERO STYLES ========== */

/* ========== START LANDING PAGE STYLES ========== */
.legoCommunityMeetUpPhoto,
.brickConPhoto,
.brickFestPhoto {
  background-size: cover;
  background-position: bottom;
  min-height: 50vh;
}

.legoCommunityMeetUpPhoto {
  background-image: url('./assets/vlad-hilitanu-1FI2QAYPa-Y-unsplash-min.jpg');
}

.brickConPhoto {
  background-image: url('./assets/amelie-mourichon-hcLSA1MiU3A-unsplash-min.jpg');
}

.brickFestPhoto {
  background-image: url('./assets/alphacolor-ipmwlGIXzcw-unsplash-min.jpg');
}

.eventTitles,
.buySellConnectTitle {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: inherit;
}

.clickHere {
  font-family: 'Montserrat', sans-serif;
  color: inherit;
}

.buySellConnectParagraph,
.eventsParagraph {
  font-family: 'Comfortaa', cursive;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* ========== END LANDING PAGE STYLES ========== */

/* ========== START LOGIN PAGE STYLES ========== */

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-dark);
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-dark);
}

/* ========== END LOGIN PAGE STYLES ========== */

/* ========== START MESSAGES PAGE STYLES ========== */

.hide {
  display: none;
}

.msgs-div {
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.msg-pg-title {
  font-family: 'Montserrat', sans-serif;

}

.containerForTitle {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: sticky; */
  top: 0;
}

.messageListContainer {
  padding: 10px 10px;
}

.timestamp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.messageBubbleContainer {
  display: flex;
}

.mine {
  justify-content: flex-end;
  background: #0e7c7b;
  color: rgb(255, 247, 247);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: .5em;
  margin-left: 3em;
  margin-bottom: 1em;
}

.theirs {
  justify-content: flex-start;
  background: #ededed;
  color: #000000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: .5em;
  margin-right: 3em;
  margin-bottom: 1em;
}

.wrapTheMsg {
  overflow-wrap: anywhere;
}

.writeMessage {
  display: flex;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  /* height: 5em; */
}

.compose-input {
  flex: 1 1;
  height: 3em;
}

.active {
  background-color: #0e7c7b !important;
  border-color: #0e7c7b !important;
}

.msg-body {
  font-family: 'Comfortaa', cursive;
}

/* ========== END MESSAGES PAGE STYLES ========== */

/* ========== START FOOTER STYLES ========== */

.footer {
  bottom: 1;
  color: #707070;
  height: 2em;
  left: 0;
  position: relative;
  /*/changed to relative from fixed also works if position is not there*/
  width: 100%;
}

.containerForPrivacy {
  color: white;
  margin-bottom: 2em;
  min-height: 100%;
  overflow: auto;
  padding: 0 2em;
  text-align: justify;
}

.footer-text-styles {
  font-family: 'Comfortaa', cursive;
}

.tab {
  margin-left: 40px;
}

/* ========== END FOOTER STYLES ========== */

/* ========== START CATEGORY STYLES ========== */
.cat-list {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  background: rgb(255, 179, 0, 0.7);
}

.cat-list>li {
  display: inline-block;
}

.cat-list-item {
  list-style: none;
}

.category {
  text-decoration: none;
  font-weight: 450;
  padding: 0 7px
}

.cat-active {
  height: auto;
  width: auto;
  border: none;
  border-radius: 30px;
  background: #005c78;
  color: #fff8e1;
}

.cat-inactive {
  color: black;
}

.category:hover {
  font-weight: 500;
}

.cat-active:hover {
  color: #fff8e1;
}

.cat-inactive:hover {
  color: black;
}

/* ========== END CATEGORY STYLES ========== */

/* ========== START SINGLE POST STYLES ========== */
.single-post {
  font-family: 'Montserrat', sans-serif;
}

.single-post-img {
  max-width: 40vmax;
}

.single-post-seller {
  margin-top: 10px;
  margin-bottom: 20px;
}

.single-post-text {
  font-size: 20px;
}

.single-post-bold {
  font-weight: 500;
}

.single-post-desc {
  margin-bottom: 20px;
}

/* ========== END SINGLE POST STYLES== ========== */

/* ========== START PRIVACY POLICY STYLES ========== */
.privacyTitles {
  font-family: 'Montserrat', sans-serif;
}

.paragraphText {
  font-family: 'Comfortaa', cursive;
}

/* ========== END PRIVACY POLICY STYLES== ========== */

/* ========== START CONTACT PAGE POLICY STYLES ========== */
.minifigurePhoto {
  background-image: url('./assets/lego-head-2-min.png');
  background-size: cover;
  background-position: center;
}

.clickHere-Portfolio {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 179, 0, 0.8);
  text-decoration: none;
}
.clickHere-Portfolio:hover {
  color: black;
  text-decoration: none;
}

.developerName {
  font-family: 'Montserrat', sans-serif!important;
  color: #ffc107;
}

.madeWithLove {
  font-family: 'Comfortaa', cursive;
}

.meetTheTeamSection {
  background-color: #6c757d;
}

/* ========== END CONTACT PAGE POLICY STYLES== ========== */

/* ========== START PRIVACY POLICY STYLES ========== */
.accordion-button:focus {
  z-index: 3;
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.accordion-button:not(.collapsed) {
  color: rgb(255, 179, 0);
  font-weight: bolder;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 #ffc107;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>);
  transform: rotate(-180deg);
}


/* ========== END PRIVACY POLICY STYLES== ========== */



/* ========== START Media Queries STYLES ========== */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .cardHeight {
    min-height: 60vh;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cardHeight {
    min-height: 565px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cardHeight {
    min-height: 415px;
  }
}

@media (max-width: 992px) {
  .login-signup-mediaquery {
    display: none;
  }

  .login-signup-inlinenav-mediaquery {
    display: contents;
  }

  .navbar-nav {
    line-height: .7em;
  }
}

@media (min-width: 993px) {
  .login-signup-inlinenav-mediaquery {
    display: none;
  }
}

@media (min-width: 993px) {
  .fix {
    margin-left: auto;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cardHeight {
    min-height: 510px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .cardHeight {
    min-height: 450px;
  }
}

/* ========== END Media Queries STYLES ========== */
