.form-group{
    margin-bottom:15px;
}

.register, .login{
    width:90%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
}

.register-form {
    width: 50%;
    padding:10px
}

.login-form{
    width: 50%;
    padding:10px
}

.form-control{
    width:100%;
    font-size:15px;
    padding:10px;
}

button{
    padding:12px 12px;
    color:beige;
    text-align: center;
    border:none;
    background-color: #0a0a0a;
}
