<article class="post">


<div class="card">
  <div class="card-content">
     <a href="/user-dashboard/{{id}}"><h1>{{posts}}</h1></a>
    <div class="content">
      <p>{{User.username}}</p>
      <p>{{Messages}}</p>
      <!-- <p>${{}}</p>
      <p>{{}}</p> -->

    </div>
  </div>
</div>

</article>

